<mat-card>
  <div class="card-box">
    <div class="funcionario-box">
      <button routerLink="/cadastro" mat-raised-button color="primary">Cadastrar novo funcionário</button>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Procurar:</mat-label>
          <input matInput type="text" placeholder="Qual registro está buscando?" (input)="search($event)">
        </mat-form-field>
      </div>
    </div>

    <table mat-table [dataSource]="funcionarios" class="mat-elevation-z8">
      <ng-container matColumnDef="Situação">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let funcionario">
          <div *ngIf="funcionario.ativo == true; else inativo">
            <img src="assets/images/Ativo.png" alt="Status ativo" style="height: 20px; width: 20px;">
          </div>

          <ng-template #inativo>
            <img src="assets/images/Inativo.png" alt="Status ativo" style="height: 20px; width: 20px;">
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let funcionario"> {{funcionario.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="Sobrenome">
        <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
        <td mat-cell *matCellDef="let funcionario"> {{funcionario.sobrenome}} </td>
      </ng-container>

      <ng-container matColumnDef="Departamento">
        <th mat-header-cell *matHeaderCellDef> Departamento </th>
        <td mat-cell *matCellDef="let funcionario"> {{funcionario.departamento}} </td>
      </ng-container>

      <ng-container matColumnDef="Ações">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let funcionario">
          <button routerLink="/editar/{{funcionario.id}}" mat-raised-button color="accent" style="margin-right: 10px;">Editar</button>
          <button routerLink="/detalhes/{{funcionario.id}}" mat-raised-button>Detalhes</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Excluir">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let funcionario">
          <button mat-raised-button color="warn" (click)="openDialog(funcionario.id)">Excluir</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
  </div>
</mat-card>
